<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); %> 
<body>
    <%- include('./partials/nav.ejs'); %> 

    <div class="about content">
        <h1>All blogs</h1>
        <p>Qui officia non in mollit anim nulla eu deserunt fugiat ea excepteur sunt deserunt. Ullamco minim ea dolore sit reprehenderit eiusmod veniam aute. Nulla nisi ad do ullamco nostrud voluptate excepteur qui pariatur laborum culpa eu ullamco eiusmod. Eiusmod nulla fugiat cillum labore veniam nisi.</p>
        <p>Dolore incididunt velit dolore et incididunt occaecat Lorem.</p>
        <p>Sunt nostrud mollit dolore ex fugiat culpa reprehenderit duis.</p>
    </div>
    <%- include('./partials/footer.ejs');  %> 
</body>
</html>